// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.login {
    background: image-url("success3.jpg") center center / cover no-repeat fixed;
    width: 100vw;
    height: 100vh;
    margin: 0 calc(50% - 50vw);
}
